.idea
.pytest_cache
*.pyc
utilities/logfile.log
allure-report
report.html
# assets
codiga.yaml
codiga.yml
__pycache__
*.mypy*
*.swp
*.log
.venv
.DS_Store
node_modules/
p-*.sh
**/.terraform**
**/.infracost**
terraform.tfstate**
transaction.yaml
**.json
**venv/
**.vscode/
.DS_Store
**/__pycache__
**exported**
!**/grafana-dashboards/*.json
**override.tf
**.pem
**.pk8
.dccache
postgres-data/

!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!**/gradle-wrapper.jar
!**diagnosis-be/buildSrc
**/build
**/buildSrc
**/.DS_Store
**.json
*$py.class
**/.idea
**/out/
*-local.conf
*.bak
*.class
*.cover
*.ctxt
*.ear
*.egg
*.egg-info/
*.iws /out/
*.jar
*.manifest
*.nar
*.py[cod]
*.rar
*.sage.py
*.stTheme.cache
**.dccache
*.sublime-project
*.sublime-workspace
*.tar.gz
*.tmPreferences.cache
*.tmlanguage.cache
*.war
*.zip
*converted\.*
.Python build/
.cache
.coverage
.coverage.*
.e
.eggs/
.elasticbeanstalk/*
.env*
.gradle
.history
.hypothesis/
.idea/
.idea/*
.idea/.gitignore
.idea/bot.iml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/vcs.xml
.installed.cfg
.ipynb_checkpoints
.mtj.tmp/
.mypy_cache/
.pnp
.pybuilder/
.pytest_cache/
.python-version
.pytype/
.secrets
.secrets/
.tox/
.venv
.vscode
.vscode/*
.vscode/settings.json
/.env_local
/site
Control.ca-bundle
Control.ca-list
Control.last-run
Control.system-ca-bundle
ENV/
GitHub.sublime-settings
__pycache__
amplify-build-config.json
amplify-gradle-config.json
amplify/.config/local-*
amplify/\#current-cloud-backend
amplify/backend/**/*cloudformation-template.json
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
amplify/mock-data
amplifyconfiguration.json
amplifytools.xcconfig
aws-exports.js
awsconfiguration.json
celerybeat-schedule.*
checking_folder/getting-started/*
cover/
coverage
coverage.xml
cython_debug/
db.sqlite32
develop-eggs/
development/
dist/
downloads/
eggs/
env.bak/
env/
files
hs_err_pid*
htmlcov/
junit.xml
lib/
lib64/
media
node_modules/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
promptdb/dumps
sdist/
sftp-config.json
sql-queries/
src/.env
src/bin/*
src/pyvenv.cfg
staticfiles
test-reports
var/
venv
venv.bak/
venv/
wheels/
